<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Xác nhận đặt phòng</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='confirm.css') }}">
</head>

<body>
    <!-- ===== GALLERY ===== -->
    <div class="gallery">
        <!-- ẢNH CHÍNH -->
        <img class="main-img" src="{{ images[0] if images else url_for('static', filename='default.webp') }}">

        <!-- DANH SÁCH ẢNH -->
        <!-- THUMBNAILS -->
        <div class="thumbs">
            {% for img in images %}
            <a href="#img{{ loop.index }}">
                <img src="{{ img }}">
            </a>

            <!-- POPUP -->
            <div id="img{{ loop.index }}" class="lightbox">
                <a href="#" class="close">&times;</a>
                <img src="{{ img }}">
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- ===== Form confirm ===== -->
    <div class="container">
        <div class="left">
            <div class="detail-booking">
                <h1>CHI TIẾT ĐẶT PHÒNG</h1>
                <div class="section">
                    <h2>Thời gian ở</h2>
                    <p><b>Check-in:</b> {{ checkin }}</p>
                    <p><b>Check-out:</b> {{ checkout }}</p>
                    <p><b>Số đêm:</b> {{ nights }}</p>
                </div>
            </div>

            <div class="detail-invoice">
                <h1>TỔNG TIỀN</h1>
                <div class="total">
                    <h2>Tổng tiền: {{ "{:,.0f}".format(total) if total else "0" }}đ</h2>
                </div>
            </div>
        </div>
        <div class="confirm-box">

            <h1>XÁC NHẬN ĐẶT PHÒNG</h1>

            <!-- ===== ROOM ===== -->
            <div class="section">
                <h2>Thông tin phòng</h2>
                <p><b>Phòng:</b> {{ room[1] }}</p>
                <p><b>Loại:</b> {{ room[2] }}</p>
                <p><b>Giá / đêm:</b> {{ "{:,.0f}".format(room[4]) }}đ</p>
            </div>

            <!-- ===== CUSTOMER ===== -->
            <div class="section">
                <h2>Thông tin của bạn</h2>
                <p><b>Tên tài khoản:</b> {{ user[1] }}</p>
                <p><b>Email:</b> {{ user[2] }}</p>
                <p><b>Số điện thoại:</b> {{ user[3] }}</p>
            </div>

            <br>
            <form action="{{ url_for('payment') }}" method="POST">
                <input type="hidden" name="room_id" value="{{ room[0] }}">
                <input type="hidden" name="checkin" value="{{ checkin }}">
                <input type="hidden" name="checkout" value="{{ checkout }}">
                <input type="hidden" name="total" value="{{ total }}">

                <button type="submit" class="confirm-btn">
                    Xác nhận đặt phòng
                </button>
            </form>
        </div>
    </div>

</body>

</html>