<!doctype html>
<html lang="vi">

<head>
    <title>Trang chủ - The Grade Hotel Dalat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dboo.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
</head>

<body>
    <div class="header1">
        <div class="user">
            <div class="logonen">
                <a href="/" class="css-4rbku5">
                    <img loading="eager" importance="high" src="../static/TRIPNEST.png" decoding="async" width="135" height="43" style="object-fit: fill; object-position: 50% 50%" />
                </a>
            </div>

            <div class="Home_banner___Q8R8">
                <video class="Home_bg-video__PU78L" src="../static/Mixivivuduthuyen.mp4" autoplay="" muted="" playsinline="" loop=""></video>
            </div>

            <span>
          <!-- USER MENU -->
        <div class="user-menu">

            <div class="user-trigger">
                <i class="fa fa-user"></i>
                <svg viewBox="0 0 24 24">
                <path d="M7.41 8.59 12 13.17l4.59-4.58L18 10l-6 6-6-6z"></path> 
            </svg>
            </div>

            <div class="dropdown">
                <p><strong>{{ user[1] }}</strong></p>
                <p>Email: {{ user[2] }}</p>
                <hr>
                <a href="{{ url_for('profile', id=user[0]) }}">Thông tin cá nhân</a>
                <a href="{{ url_for('booking_previous') }}">Lịch sử đặt phòng</a>
                <a href="/">Đăng xuất</a>
            </div>

        </div>
        </div>
        </span>
        </div>
    </div>

    <h1 style="text-align: center; margin-top: 20px">Danh sách phòng!</h1>

    <div class="room-grid">
        {% for room in rooms %}
        <form method="POST" action="{{ url_for('room_detail') }}">
            <div class="room-card">
                <img class="room-img" src="{{ url_for('static', filename='10 phòng/' + image_map[room[0]]) }}" />

                <div class="room-info">
                    <h3>Phòng {{ room[1] }}</h3>

                    <span class="room-type {{ room[2]|lower }}"> {{ room[2] }} </span>
                    <div class="price-rating">
                        <p class="price">{{ "{:,.0f}".format(room[4]) }}đ / đêm</p>

                        <div class="rating">
                            <span class="stars">
                              {% if loop.index0 < reviews|length %} 
                              <div class="rating">⭐ {{ reviews[loop.index0][3] }}</div>
                              {% else %}
                              <div class="rating">⭐ Chưa có đánh giá</div>
                              {% endif %}
                            </span>
                        </div>
                    </div>

                    <div class="bottom">
                        <!-- <div class="price">{{ "{:,.0f}".format(room[4]) }}đ / đêm</div> -->
                        <input type="hidden" name="room_id" value="{{ room[0] }}" />
                        <button type="submit">Xem phòng</button>
                    </div>
                </div>
        </form>
        </div>
        {% endfor %}
    </div>
    <footer class="footer">
        <div class="contact">
            <h4>Liên hệ</h4>
            <p>Email: support@eshop.com</p>
            <p>Điện thoại: 0123-456-789</p>
        </div>

        <div class="law">
            <h4>Chính sách</h4>
            <p>Chính sách đổi trả</p>
            <p>Chính sách bảo hành</p>
            <p>Chính sách vận chuyển</p>
        </div>

        <div class="social">
            <h4>Theo dõi</h4>
            <a href="#">Facebook | </a>
            <a href="#">Instagram | </a>
            <a href="#">Twitter</a>
        </div>
        <p class="copyright">@ 2026 E-shop. Tất cả quyền được bảo lưu</p>
    </footer>
</body>

</html>