h1 {
  color: blue;
  text-align: center;
}

h2 {
  color: aqua;
  text-align: center;
}

/* layout ngang */

.image-fade_in_back {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
}

/* mỗi card */

.image-fade_in_back a {
  position: relative;
  display: block;
  width: 250px;
}

/* ảnh chính */

.image-fade_in_back img {
  width: 100%;
  border-radius: 10px;
}

/* ảnh hover */

.back-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.4s;
  z-index: 1;
}

/* hover */

.image-fade_in_back a:hover .back-image {
  opacity: 1;
  display: block;
}

.form {
  display: flex;
  width: auto;
  text-align: center;
  row-gap: 50px;
  column-gap: 50px;
  box-sizing: border-box;
  border: solid black;
}

.form img {
  height: 150px;
  width: 250px;
  border-radius: 10px;
}

.content-room {
  position: relative;
}

body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
}

#menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background: #111;
  color: white;
  padding: 20px;
  z-index: 2;
}

#menuToggle {
  position: fixed;
  top: 20px;
  /* cách trên */
  left: 215px;
  /* cách trái */
  z-index: 1000;
  /* nằm trên mọi thứ */
  font-size: 24px;
  padding: 10px 15px;
  cursor: pointer;
}

.menu-links a {
  display: block;
  color: white;
  margin: 10px 0;
  text-decoration: none;
}

.css-120nera {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 1px;
  height: 80px;
}

.css-1sonigm {
  height: 80px;
  width: 400px;
}

.css-review {
  border: solid none;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  margin-left: 90px;
}
