body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    background: #f5f7fa;
}


/* ===== TITLE LOGO ===== */


/* HEADER TOP */

.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #0071c2;
}

.logonen {
    display: flex;
    justify-content: center;
}


/* USER MENU */

.user-menu {
    position: relative;
}


/* ICON */

.user-trigger {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}


/* DROPDOWN */

.dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    padding: 0px 20px;
    min-width: 180px;
    height: 200px;
    border-radius: 8px;
    /* padding-bottom: 10px; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.dropdown a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    color: black;
}

.dropdown a:hover {
    color: blue;
}

.user-menu:hover .dropdown {
    display: block;
}


/* CONTAINER */

.container {
    width: 85%;
    margin: 40px auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}


/* CARD */

.booking-card {
    display: flex;
    align-items: center;
    background: white;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.booking-card:hover {
    transform: translateY(-5px);
}


/* ẢNH */

.room-img {
    width: 380px;
    height: 240px;
    border-radius: 12px;
    object-fit: cover;
}


/* INFO */

.info {
    flex: 1;
    margin-left: 20px;
}

.info h2 {
    margin: 0 0 10px;
}


/* STATUS */

.status {
    padding: 3px;
    border-radius: 12px;
    font-weight: bold;
    margin-bottom: 20px;
}

.status a {
    text-align: center;
    text-decoration: none;
    color: rgb(155, 146, 146);
}

.status a p {
    width: 150px;
    margin: 5px 0px;
    font-size: 18px;
}

.feedback a:hover {
    color: #5e6309;
}

.cancel label:hover {
    color: #9c2929;
}


/* MÀU */

.feedback {
    background: yellow;
}

.done {
    background: #e7f0ff;
    color: #2b6cb0;
}


/* ===== BUTTON ===== */

.cancel-btn {
    background: #ff4d4d;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}


/* ===== MODAL ===== */

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}


/* HIỆN MODAL KHI CHECK */

input[type="checkbox"]:checked+.modal {
    display: flex;
}


/* BOX */

.modal-box {
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
}


/* ACTIONS */

.actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}


/* BUTTON */

.btn {
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.btn.cancel {
    background: #ccc;
}

.btn.confirm {
    background: #ff4d4d;
    color: white;
}