body {
    font-family: "Segoe UI", sans-serif;
    background: #f5f7fa;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    gap: 10px;
    margin: 10px auto;
}


/* HEADER TOP */

.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #0071c2;
}


/* USER MENU */

.user-menu {
    position: relative;
}


/* ICON */

.user-trigger {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    color: #000;
}


/* DROPDOWN */

.dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    padding: 0px 20px;
    min-width: 180px;
    height: 200px;
    border-radius: 8px;
    /* padding-bottom: 10px; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.dropdown a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    color: black;
}

.dropdown a:hover {
    color: blue;
}


/* HOVER SHOW */

.user-menu:hover .dropdown {
    display: block;
}

.left {
    display: grid;
    gap: 10px;
}

.detail-booking {
    width: 350px;
    height: 300px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.detail-invoice {
    width: 350px;
    height: 130px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.confirm-box {
    width: 450px;
    height: 530px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #0071c2;
}

.section {
    margin: 15px 0;
}

.total {
    margin-top: 20px;
    text-align: center;
    color: #e63946;
}

.confirm-btn {
    width: 90%;
    padding: 12px;
    margin-top: 15px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.confirm-btn:hover {
    background: #218838;
}

.back-btn {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}


/* ===== GALLERY ===== */

.gallery {
    padding: 20px;
    background: #5c93e1;
}

.main-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.thumbs {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.thumbs img {
    width: 100px;
    height: 70px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}


/* LIGHTBOX ẨN */

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}


/* HIỆN KHI CLICK */

.lightbox:target {
    display: flex;
}


/* ẢNH TRONG POPUP */

.lightbox img {
    width: 1000px;
    height: 650px;
    border-radius: 10px;
}


/* NÚT ĐÓNG */

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    text-decoration: none;
}